
@{
    ViewBag.Title = "Downloads";
}
<div class="justify-content-center d-flex">
    <h2>Downloads</h2>
</div>



<div class="list-group">
<a href="~/WebImages/ad.jpeg" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2 h5">Admission Advertisement</h5>
        <small class="text-muted">June 16, 2019</small>
    </div>
    <p class="mb-2">
       Admisisons for Fall 2019 have been launched. 
    </p>
    <small class="text-muted">Click here to view details</small>
</a>
</div>