<div class="container-fluid">

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div>
                <br />
                <h3>Director Message</h3>
                <p style="text-align:justify">
                    IB&M is the leading institute where business students transform into inspiring industrial professionals and potential business leaders with vision, innovative creative solutions and entrepreneurial spirits to excel in today’s dynamic business environment. IB&M’s learned energetic and skilled faculty nurture the research and business skills of the students.
                    I encourage the potential business graduates to contact us and to join hands with us at IB&M for having superlative learning experience and vibrant social life.
                </p>
                <p style="text-align:justify">
                    Unveil and rejuvenate your entrepreneurial aptitude under vast umbrella of UET’s esteemed alumni, Business Incubation Center and Career diverse options.
                </p>

                <div class="justify-content-end d-flex">
                    <div>
                        <strong>Prof. Dr. Muhammad Shoaib</strong>
                        <br />
                        Director IB&M
                    </div>

                </div>
               
            </div>
        </div>

        <div class="col-lg-4">
            <div class="container">
                <div style="text-align: center; color: white; font-weight: bold; font-size: 18px;">Important Notice</div>
                <div class="card  mb-3">
                    <div class="card-header"><h5>Online Application</h5></div>
                    <div class="card-body ">
                        <h5 class="card-title"> </h5>
                        <p class="card-text">
                           @Html.Action("Register","Account")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-8">
            <h4> Test Dates</h4>
            <table class="table">
               
                <thead>
                    <tr>
                        
                        <th scope="col">Degree Program</th>
                        <th scope="col">Test Dates</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      
                        <td>Undergraduate</td>
                        <td>July 7,8,9,10</td>
                        <td>Software Engineering Center UET Lahore</td>
                    </tr>
                    <tr>
                      
                        <td>Postgraduate</td>
                        <td>July 6</td>
                        <td>IB&M tower, UET Lahore</td>
                    </tr>
                   
                </tbody>
            </table>
            <br />
         

            <h4>Deadline for Admissions</h4>
            <p> Last date of application for admission 2019 is July 4, 2019</p>
        </div>

        <div class="col-lg-4">
            <div class=" container">
                <div class="card  mb-3">
                    <div class="card-header">Announcement</div>
                    <div class="card-body ">
                        <h5 class="card-title"> </h5>
                        <p class="card-text">
                            Admissions for sessions 2019 have been launched. Fill the online application to get registered.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
