@model CVWebApp.Models.ParameterItem

@{
    ViewBag.Title = "ParameterItem";
}

<h2>ParameterItem</h2>
<div class="form-group">
    @Html.LabelFor(model => model.param1, htmlAttributes: new { @class = "control-label " })
    <div>
        @Html.EditorFor(model => model.param1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.param1, "", new { @class = "text-danger" })
    </div>
</div>

