@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()
}



<li class="nav-item">
    <a href="#" class="nav-link ">
        <strong>  @User.Identity.Name</strong>
    </a>
    @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
</li>
<li class="nav-item"><a class="nav-link " href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>


}
else
{

@*<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link " })</li>*@
<li class="nav-item">@Html.ActionLink("Staff Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link " })</li>

}
