
<div class="d-flex justify-content-center">

    <div class=" col-md-4 col-sm-6 col-xs-12 card " style="margin-top:30px;min-width:400px;">
        <center style="margin-top:10px">
            <h5> IB&M Entry Test 2019</h5>
        </center>
        <hr />
        <div class="form-horizontal card-body">
            @*<div class="text-danger">@ViewBag.RegErrMessage</div>*@
            @Html.Partial("Register")

            </div>
</div>
</div>